{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}CSR Campaign Settings | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item active">CSR Campaign Settings</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">CSR Campaign<small>CSR Campaign Settings</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    CSR Campaign Settings Page
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}