{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Accounts Reset Password{% endblock %}

{% block content %}
<div class="container">
	{% include settings.FORM_ERROR with form=form messages=messages %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top: 5%">
			<div class="panel panel-primary">
				<div class="panel-body">
					<h3 class="page_header">Change Password <i class="fas fa-key"></i></h3>
					<hr>
					<form method="post" novalidate>
						<input type="hidden" name="next" value="{{ next }}" />
					  	{% include settings.FORM_CORE with form=form %}
					  	<div class="form-group">
					  		<button type="submit" class="btn btn-primary">Change Password</button>
					  		<input type="hidden" name="next" value="{{ next }}" />
					  	</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}