<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="generator" content="Codeply">
    {% block meta %}
    {{ block.super }}
    <meta name="author" content="Globe Digital Ventures (GV)" />
    <meta name="description" content="{{ settings.APP_NAME_TEXT }}" />
    <meta property="og:title" content="{{ settings.APP_NAME_TEXT }}" />
    <meta property="og:site_name" content="{{ settings.APP_NAME_TEXT }}"/>
    <meta property="og:description" content="{{ settings.APP_DESCRIPTION }}" />
    <meta property="og:image" content="/media/" />
    <meta name="description" content="{{ settings.APP_DESCRIPTION }}" />
    <meta property="og:title" content="{{ settings.APP_NAME_TEXT }}" />
    <meta property="og:site_name" content="{{ settings.APP_NAME_TEXT }}"/>
    <meta property="og:description" content="{{ settings.APP_DESCRIPTION }}" />
    <meta property="og:image" content="/media/" />
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'app.ico' %}">
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static '/assets/core/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/plugins/bootstrap/4.0.0/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/plugins/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/css/transparent/style.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/css/transparent/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/core/css/transparent/theme/default.css' %}" rel="stylesheet" id="theme" />
    <!-- ADDITIONAL CUSTOM STYLES -->
    {% block styles %}{% endblock %}
    <!-- END -->
    <script src="{% static '/assets/core/plugins/pace/pace.min.js' %}"></script>
</head>
{% if user.is_authenticated %}
<body>
    <div class="page-cover"></div>
    <!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div> -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
{% else %}
<body class="pace-top bg-black-darker">
    <!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div> -->
    <div id="page-container" class="fade">
{% endif %}
        <!-- begin #page-loader -->
        <!-- end #page-loader -->
        {% if user.is_authenticated %}
            {% include 'layout/includes/header.html' %}
            {% include 'layout/includes/sidebar.html' %}
        {% endif %}

        {% block content %}
            {{ block.super }}
            Welcome To Gmovies Django 2.0
        {% endblock %}

        {% if user.is_authenticated %}
            {% include 'layout/includes/footer.html' %}
        {% endif %}

    </div>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static '/assets/core/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/assets/core/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/core/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static '/assets/core/crossbrowserjs/html5shiv.js' %}"></script>
        <script src="{% static '/assets/core/crossbrowserjs/respond.min.js' %}"></script>
        <script src="{% static '/assets/core/crossbrowserjs/excanvas.min.js' %}"></script>
    <![endif]-->
    <script src="{% static '/assets/core/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static '/assets/core/plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static '/assets/core/js/theme/transparent.min.js' %}"></script>
    <script src="{% static '/assets/core/js/apps.min.js' %}"></script>
    <!-- ADDITIONAL CUSTOM SCRIPTS -->
    {% block scripts %}{% endblock %}
    <script>
        $(document).ready(function() {
            {% if user.is_authenticated %}
            COLOR_GREEN = '#00cbff';
            App.init();
            DashboardV2.init();
            {% else %}
            App.init();
            {% endif %}
        });
    </script>   
    <!-- END -->
</body>
</html>