{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Theater Organizations | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="{% url 'theater:theater' %}">Theater</a></li>
		<li class="breadcrumb-item active">Theater Organizations</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Theater Organizations<small>List of theater organizations</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    Theater Organizations Page
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}