{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Vote System | Add Vote Choice{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
	{% include settings.FORM_ERROR with messages=messages %}
	<h1>{{ question.question_text }}</h1><br>
	{% if error_message %}
		<div class="alert alert-danger"><p><strong>{{ error_message }}</strong></p></div>
	{% endif %}
	<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<div class="form-group">
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		</div>
	{% endfor %}
		<button type="submit" value="Vote" class="btn btn-success">Vote</button>
	</form>
</div>
{% endblock %}