{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Polls{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
	{% include settings.FORM_ERROR with messages=messages %}
	<h1 class="page_header">Polls</h1>
	{% if latest_question_list %}
		{% for question in latest_question_list %}
		<h3><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h3>
		{% endfor %}
	{% else %}
		<p>No polls are available.</p>
	{% endif %}
</div>
{% endblock %}