{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Vote System | {{question.question_text}}{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
	{% include settings.FORM_ERROR with messages=messages %}
	<h1>{{ question.question_text }}</h1>
	<ul>
	{% for choice in question.choice_set.all %}
	    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
	{% endfor %}
	</ul>
	<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
</div>
{% endblock %}