{% load staticfiles %}
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<a href="javascript:;" data-toggle="nav-profile">
					<div class="image">
						<img src="{% static '/assets/core/img/user/user-13.jpg' %}" alt="" />
					</div>
					<div class="info">
						<b class="caret pull-right"></b>
						{{ user.get_full_name }}
						<small>{{ user.groups.all.0.name }}</small>
					</div>
				</a>
			</li>
			<li>
				<ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-edit"></i> Edit Profile</a></li>
                    <li><a href="javascript:;"><i class="fa fa-user"></i> Account</a></li>
                </ul>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="{% if request.resolver_match.url_name == 'dashboard' %} active {% endif %} ">
				<a href="{% url 'dashboard:dashboard' %}">
				    <i class="fa fa-th-large"></i>
				    <span>Dashboard</span>
			    </a>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'theater' or request.resolver_match.url_name == 'organization' %} active {% endif %}">
				<a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-film"></i> 
					<span>Theaters</span>
				</a>
				<ul class="sub-menu">
				    <li class="{% if request.resolver_match.url_name == 'theater' %} active {% endif %}"><a href="{% url 'theater:theater' %}">Theaters</a></li>
				    <li class="{% if request.resolver_match.url_name == 'organization' %} active {% endif %} "><a href="{% url 'theater:organization' %}">Theater Organization</a></li>
				</ul>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'movie' or request.resolver_match.url_name == 'movie-title' or request.resolver_match.url_name == 'movie-title-lookup' %} active {% endif %} ">
				<a href="javascript:;">
			        <b class="caret"></b>
				    <i class="fa fa-play"></i>
				    <span>Movies</span> 
				</a>
				<ul class="sub-menu">
					<li class="{% if request.resolver_match.url_name == 'movie' %} active {% endif %} "><a href="{% url 'movie:movie' %}">Movies</a></li>
					<li class="{% if request.resolver_match.url_name == 'movie-title' %} active {% endif %} "><a href="{% url 'movie:movie-title' %}">Movie Title Bank</a></li>
					<li class="{% if request.resolver_match.url_name == 'movie-title-lookup' %} active {% endif %} "><a href="{% url 'movie:movie-title-lookup' %}">Orphaned Movie Titles</a></li>
				</ul>
			</li>
			<li class="{% if request.resolver_match.url_name == 'feed' %} active {% endif %}">
				<a href="{% url 'feed:feed' %}">
					<i class="fa fa-list"></i>
				    <span>Feeds</span> 
				</a>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'pesopay' or request.resolver_match.url_name == 'paynamics' or request.resolver_match.url_name == 'migs' or request.resolver_match.url_name == 'ipay88' or request.resolver_match.url_name == 'option' %} active {% endif %}">
				<a href="javascript:;">
			        <b class="caret"></b>
				    <i class="fa fa-credit-card"></i>
				    <span>Payment Settings</span> 
				</a>
				<ul class="sub-menu">
					<li class="{% if request.resolver_match.url_name == 'pesopay' %} active {% endif %}"><a href="{% url 'payment:pesopay' %}">Pesopay Payment Settings</a></li>
					<li class="{% if request.resolver_match.url_name == 'paynamics' %} active {% endif %}"><a href="{% url 'payment:paynamics' %}">Paynamics Payment Settings</a></li>
					<li class="{% if request.resolver_match.url_name == 'migs' %} active {% endif %}"><a href="{% url 'payment:migs' %}">MIGS Payment Settings</a></li>
					<li class="{% if request.resolver_match.url_name == 'ipay88' %} active {% endif %}"><a href="{% url 'payment:ipay88' %}">iPay88 Payment Settings</a></li>
					<li class="{% if request.resolver_match.url_name == 'option' %} active {% endif %}"><a href="{% url 'payment:option' %}">Payment Option Settings</a></li>
				</ul>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'transaction' or request.resolver_match.url_name == 'free-ticket' or request.resolver_match.url_name == 'promo' or request.resolver_match.url_name == 'csr-campaign' %} active {% endif %} ">
				<a href="javascript:;">
			        <b class="caret"></b>
				    <i class="fa fa-database"></i>
				    <span>Transactions</span>
				</a>
				<ul class="sub-menu">
					<li class="{% if request.resolver_match.url_name == 'transaction' %} active {% endif %}"><a href="{% url 'transaction:transaction' %}">Gmovies App Transactions</a></li>
			        <li class="{% if request.resolver_match.url_name == 'free-ticket' %} active {% endif %}"><a href="{% url 'transaction:free-ticket' %}">Gmovies Free Ticket</a></li>
			        <li class="{% if request.resolver_match.url_name == 'promo' %} active {% endif %}"><a href="{% url 'transaction:promo' %}">Gmovies Promo Transactions</a></li>
			        <li class="{% if request.resolver_match.url_name == 'csr-campaign' %} active {% endif %}"><a href="{% url 'transaction:csr-campaign' %}">CSR Campaign Transactions</a></li>
				</ul>
			</li>
			<li class="{% if request.resolver_match.url_name == 'client' %} active {% endif %}">
				<a href="{% url 'client:client' %}">
					<i class="fa fa-users"></i> 
					<span>Clients</span>
				</a>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'coming-soon' or request.resolver_match.url_name == 'blocked-screening' %} active {% endif %}">
			    <a href="javascript:;">
			        <b class="caret"></b>
			        <i class="fa fa-mars"></i>
			        <span>Assets</span>
			    </a>
				<ul class="sub-menu">
					<li class="{% if request.resolver_match.url_name == 'coming-soon' %} active {% endif %}"><a href="{% url 'asset:coming-soon' %}">Coming Soon Page</a></li>
					<li class="{% if request.resolver_match.url_name == 'blocked-screening' %} active {% endif %}"><a href="{% url 'asset:blocked-screening' %}">Blocked Screening</a></li>
				</ul>
			</li>
			<li class="has-sub {% if request.resolver_match.url_name == 'promo-setting' or request.resolver_match.url_name == 'system' or request.resolver_match.url_name == 'convenience-fee' or request.resolver_match.url_name == 'csr-campaign-setting' or request.resolver_match.url_name == 'service' %} active {% endif %}">
			    <a href="javascript:;">
			        <b class="caret"></b>
			        <i class="fa fa-cogs"></i>
				    <span>Settings</span>
				</a>
				<ul class="sub-menu">
				    <li class="{% if request.resolver_match.url_name == 'promo-setting' %} active {% endif %}"><a href="{% url 'setting:promo-setting' %}">Promos</a></li>
				    <li class="{% if request.resolver_match.url_name == 'system' %} active {% endif %}"><a href="{% url 'setting:system' %}">System Settings</a></li>
					<li class="{% if request.resolver_match.url_name == 'convenience-fee' %} active {% endif %}"><a href="{% url 'setting:convenience-fee' %}">Convenience Fee Settings</a></li>
				    <li class="{% if request.resolver_match.url_name == 'csr-campaign-setting' %} active {% endif %}"><a href="{% url 'setting:csr-campaign-setting' %}">CSR Campaign Settings</a></li>
				    <li class="{% if request.resolver_match.url_name == 'service' %} active {% endif %}"><a href="{% url 'setting:service' %}">Services Settings</a></li>
				</ul>
			</li>
	        <!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->