{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}CSR Campaign | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item active">CSR Campaign</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">CSR Campaign<small>List of CSR Campaign</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    CSR Campaigns Page
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}