{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Sign In | {{ settings.APP_NAME_TEXT }}{% endblock %}

{% block content %}
<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url({% static '/assets/core/img/login-bg/login-bg-12.jpg' %})"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>{{ settings.APP_NAME }}</b> Admin App</h4>
            <p>
                Download the {{ settings.APP_NAME }} app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <!-- <span class="logo"></span> --> <b>{{ settings.APP_NAME }}</b> Admin
                <small>For authorized administrator use only</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
        	{% include settings.FORM_ERROR with form=form messages=messages %}
        	<form method="post" novalidate class="margin-bottom-0">
        		<input type="hidden" name="next" value="{{ next }}" />
			  	{% include settings.FORM_CORE with form=form %}
			  	<div class="login-buttons">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Sign me in</button>
                </div>
                <div class="m-t-20 m-b-40 p-b-40">
                    Not a member yet? Click <a href="register_v3.html">here</a> to register.<br>
                    Forgot password ? Click <a href="{% url 'core:password_reset' %}">here</a> to update password.
                </div>
                <hr />
                <p class="text-center">
                    &copy; {{ settings.APP_NAME }} Admin All Right Reserved 2018
                </p>
            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
{% endblock %}