{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Sign Up | {{ settings.APP_NAME_TEXT }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 class="page_header"><b>Sign Up</b></h3>
			<br>
			<p>Already have an account ? Then please <a href="{% url 'core:login' %}">Sign In</a></p>
			<br>
			{% include settings.FORM_ERROR with form=form messages=messages %}
		</div>
		<div class="col-md-3">	
			<form method="post" novalidate>
			  	{% include settings.FORM_CORE with form=form %}
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-default">Sign Up <i class="fas fa-sign-in-alt"></i></button>
			  		<input type="hidden" name="next" value="{{ next }}" />
			  	</div>
			</form>	
		</div>
	</div>
</div>
{% endblock %}