{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Success Signup | {{ settings.APP_NAME_TEXT }}{% endblock %}

{% block content %}
<div class="container">
	{% include settings.FORM_ERROR with messages=messages %}
	<br>
	<form novalidate method="POST" class="text-center">
		{% csrf_token %}
		<input type="hidden" name="email" maxlength="100" value="{{email}}">
		<button type="submit" class="btn btn-info btn-lg">Resend Activation Link <i class="fas fa-sync"></i></button>
	</form>
</div>
{% endblock %}