{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}iPay88 Payment Settings | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item">Payment</li>
		<li class="breadcrumb-item active">iPay88 Payment Settings</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">iPay88 Payment Settings<small>iPay88 Payment Settings Option</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    iPay88 Payment settings
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}