{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}MIGS Payment Settings | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item">Payment</li>
		<li class="breadcrumb-item active">MIGS Payment Settings</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">MIGS Payment Settings<small>MIGS Payment Settings Option</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    MIGS Payment settings
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}