{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Orphaned Movie Titles | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="{% url 'movie:movie' %}">Movies</a></li>
		<li class="breadcrumb-item active">Orphaned Movie Title</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Orphaned Movie Title<small>List of Orphaned Movie Title</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    Orphaned Movie Title Page
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}