{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Movie Title Bank | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="{% url 'movie:movie' %}">Movies</a></li>
		<li class="breadcrumb-item active">Movie Title Bank</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Movie Title Bank<small>List of Movie Title Bank</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
	    Movie Title Bank Page
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}{% endblock %}